/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	color: black;
}

#dateofbirth{
	
		border: 1px solid #009793;
		border-radius: 5px;
		background-color: #fff;
		padding: 5px 10px;
		box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
		
		height: 30px;
	
}

  
  #slideshow {
	
	overflow: hidden;
	height: 200px;
	width: 310px;
	margin: 0 auto;
	
  }
  .img_sl{
	width: 300px;
	height: 200px;;
  }
  
  .slide-wrapper {
	width: calc(310px * 3);
	-webkit-animation: slide 10s ease infinite;
  }
  
  .slide {
	float: left;
	height: 200px;
	width: 310px;
  }
  
 
  @keyframes slide {
 
    /* Calculate the margin-left for 
    each of the slides */
    20% {
        margin-left: 0px;
    }
 
    40% {
        margin-left: calc(-300px * 1);
    }
 
    60% {
        margin-left: calc(-300px * 2);
    }
 
    80% {
        margin-left: calc(-300px * 3);
    }
}


  

input{
	font-size: 33px;
	font-weight: bold;
}


#Test_DatetimeLocal{
	font-size: 20px;
	padding: 5px 5px 5px 5px;
	
}

textarea{
	width: 100%;
}


.jump_div{
	
	position: relative;
	height:1px;
	display:flex;
	justify-content: end;
	color:black;
	z-index: 5;
	margin-right: 5px;
}

.dialog_container{
	position:absolute;
	margin-top:30px;
	width: 600px;
	height: 300px;
	overflow-y: hidden;
	overflow-x: hidden;
}


.go_back_div{
	text-align: right;
	margin-bottom: 10px;
	margin-top: 20px;
	
}

.product-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 15px;
  }


  .button-24 {
	background: #FF4742;
	border: 1px solid #FF4742;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 11px;
	min-height: 27px;
	outline: 0;
	padding: 9px 10px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
	background-color: initial;
	background-position: 0 0;
	color: #FF4742;
  }
  
  .button-24:active {
	opacity: .5;
  }

.carousel_img{
	height: 150px;
	width: 100px;
}



h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 95%;
	max-width: 100%;
	min-height: 600px;
	margin-top: 1rem;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

.buttonL {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF416C;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.buttonL:active {
	transform: scale(0.95);
}

.buttonL:focus {
	outline: none;
}

.buttonL.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}