/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
*{
	color:black;
}



@keyframes slideshow3__fade {
    0% {
      opacity: 0;
      z-index: 2;
    }
    6.6666666667% {
      opacity: 1;
    }
    26.6666666667% {
      opacity: 1;
    }
    27.6666666667% {
      opacity: 0;
      z-index: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .slideshow3 {
    position: relative;
    width: 308px;
    height: 250px;
    margin: auto;
  }


  .slideshow3 img:not(:first-child) {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 auto;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: slideshow3__fade;
    animation-timing-function: ease-in;
    transition: opacity 2s ease-in;
  }


  .slideshow3 img:nth-child(1) {
    animation-delay: 0s;
  }
  .slideshow3 img:nth-child(2) {
    animation-delay: 2s;
  }
  .slideshow3 img:nth-child(3) {
    animation-delay: 4s;
  }
  .slideshow3 img:nth-child(4) {
    animation-delay: 8s;
  }
  .slideshow3 img:nth-child(5) {
    animation-delay: 10s;
  }
.img_sl{
	width: 308px;
	height: 250px;;
  }

 
/* Style each of the sides 
with a fixed width and height */
 




.layout_div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 97%;
	margin: auto;	
}
.login_div{
	width: 80%;
}



#dateofbirth{
	
		border: 1px solid #009793;
		border-radius: 5px;
		background-color: #fff;
		padding: 5px 10px;
		box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);	
		height: 30px;
	
}
.dialog_margin{
	margin: auto;
	padding: 15px 15px 15px 15px;
	border-radius:  5px solid black;
}
.img_payments{
    width: 169px;
  height: 100px;
  }
 
.fa-trash_t{
	color: black;
}


  .card_p_fix{

		font-size: 14px;
		font-weight: 100;
		line-height: 16px;
		letter-spacing: 0.5px;
		margin: 10px 0 15px;

  }
  




  

input{
	font-size: 33px;
	font-weight: bold;
}


#Test_DatetimeLocal{
	font-size: 20px;
	padding: 5px 5px 5px 5px;
	
}

textarea{
	width: 100%;
}



.jump_did_emo{
	
	position: absolute;
	height:1px;
	display:flex;
	justify-content: end;
	color:black;
	left:85%;
	z-index: 5;
	margin-right: 5px;
}


.jump_div{
	
	position: absolute;
	height:1px;
	display:flex;
	justify-content: end;
	color:black;
	left:280px;
	z-index: 5;
	margin-right: 5px;
}

.dialog_container{
	position:absolute;
	margin-top:30px;
	width: 600px;
	height: 300px;
	overflow-y: hidden;
	overflow-x: hidden;
}


.go_back_div{
	text-align: right;
	margin-bottom: 10px;
	margin-top: 20px;
	
}

.product-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 15px;
  }

i{
	color: white;
}
  .button-24 {
	background: #D61261;
	border: 1px solid #D61261;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;

	font-size: 14px;
	font-weight: 700;
	line-height: 11px;
	min-height: 27px;
	outline: 0;
	padding: 9px 10px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
	background-color: initial;
	background-position: 0 0;
	color: #FF4742;
  }
  
  .button-24:active {
	opacity: .5;
  }

.carousel_img{
	height: 150px;
	width: 100px;
}





p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 10px 0 10px;
}


a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container_div {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 50%;
	max-width: 100%;
	margin: auto;
	min-height: 600px;
	margin-top: 1rem;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container_div.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container_div.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container_div.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container_div.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container_div.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container_div.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}



.buttonL {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF416C;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.buttonL:active {
	transform: scale(0.95);
}

.buttonL:focus {
	outline: none;
}

.buttonL.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.login-with-google-btn {
	transition: background-color .3s, box-shadow .3s;
	  
	padding: 12px 10px 12px 35px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
	
	color: #757575;
	font-size: 11px;
	font-weight: 500;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	
	background-color: white;
	background-repeat: no-repeat;
	background-position: 12px 11px;
	
	&:hover {
	  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
	}
	
	

  }
#bg_sign_in{
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
		
}
#bg_sign_a{
	background-size: 20px 20px;
	background-image: url("https://seeklogo.com/images/A/apple-logo-E3DBF3AE34-seeklogo.com.png");
	background-position:20px 12px 20px 12px;
}

.sign_button{
	gap:15px;
}