/* 
    General Styles used on every website (Don't Repeat Yourself)
*/


.myButton1 {
    width: 169px;
    background-color: rgba(145, 145, 145, 0.69);
    padding: 7px;
    color: rgb(63, 49, 60);
    border-radius: 7px;
    display: block;
    margin:auto;
}

.myButton1:hover {
    cursor: pointer;
    background-color: rgba(145, 145, 145, 0.89);
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.59);
}

.myButton2 {
    width: 133px;
    background-color: rgba(145, 145, 145, 0.69);
    padding: 7px;
    color: rgb(63, 49, 60);
    border-radius: 7px;
    display: block;
}

.myButton2:hover {
    cursor: pointer;
    background-color: rgba(145, 145, 145, 0.89);
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.59);
}

.myMenu {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(233, 233, 233);
    color: rgb(82, 82, 82);
   
}

.myMenu:Hover {
    cursor: pointer;
    background-color: rgb(140, 139, 139);
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.59);
}

.activeMenu {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(97, 97, 97);
    color: rgb(255, 255, 255);
   
}

.activeMenu:Hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.59);
}

.dashComponents {
    background-color: rgb(97, 97, 97);
    color: rgb(255, 255, 255);
}

.myListLink {
    background-color: rgb(252, 252, 252);
    padding: 3px 0px;
}

.myListLink:hover {
    background-color: rgba(237, 237, 237, 0.405);
    cursor: pointer;
}

.star {
    color: rgb(255, 232, 27);
    text-shadow: 0 0 9px #ffffff;
}

.star:hover {
    color: rgb(255, 232, 27);
    text-shadow: 0 0 9px #ababab;
}

.starRating {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #676767;
}

.starRating:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #000000;
}

.status {
    padding: 1px 1px;
}


.paymentAlert {
    width: 69px;
	background: #FF4742;
	border: 1px solid #FF4742;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 11px;
	min-height: 27px;
	outline: 0;
	padding: 11px 7px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
  }
  
  .paymentAlert:hover,
  .paymentAlert:active {
	background-color: initial;
	background-position: 0 0;
	color: #FF4742;
  }
  
  .paymentAlert:active {
	opacity: .5;
  }


  ul {
    list-style-type: none;
  }
  .img_payments{
    width: 169px;
  height: 100px;
  }

  .payments_div {
    background: #31363F;
   
    height: 100px;
    width: 95%;
    margin-left: 3%;
    margin-right: 10%;
    margin-bottom: 15px;  
    font-size: 11px;
    font-weight: 700;   
    border-right: 8px solid  #FF4742;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing:  border-box;
  }
  
  /* .accept_div{
    display: flex;
   align-items: center; 
  } */
  
  
  
  .payments_div h2 span{
    display: block;
    font-size: 11px;
    font-weight: normal;
    color: #bdc3c7;
  }

  .payment_button {
    width:69%;
  }

  .staticStar {
    color: rgb(255, 232, 27);
    text-shadow: 0 0 9px #ffffff;
}
  
