@import url(https://fonts.googleapis.com/css?family=Pacifico);



.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
*{
  font-family: "Pacifico", cursive;

}

.city_address_div{
  width: 25%;
}

.note_rate_div{
  width: 55%;
}

.date_div{
  width: 35%;
}

span, p{
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:20px;
}

h4{
  font-weight: bold;
  color: #FF4742;
  font-size: 17px;
}

.test {
  
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
   
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: translateX(-30px);
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
  }

  
  .test:before {
    content: '';
    position: absolute;
    height: 120%;
    width: 120%;
    background: #FF4742;
    top: 0;
    opacity: 0;
    left: -80px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    
  }
  .test:hover  {
    transform: translateX(5px);
    opacity: 1;
  }

 h4:hover{
  transform: scale(1.1)
 }

  .test:hover {
    color: #262a2b;
  }
  .test:hover:before {
    left: 0;
    opacity: 1;
  }
  

  
ul {
  list-style: none; 
  margin: 0px;
  padding: 0px; 
}
.img_listing{
  width: 200px;
height: 100%;
}



.listing_div {
  background: #31363F;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 80%;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
  cursor: pointer;

  font-size: 11px;
  font-weight: 700;
  text-transform: capitalize; 
  letter-spacing: 1px;

  border-right: 8px solid  #FF4742;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-sizing:  border-box;
}

.accept_div{
  display: flex;
 align-items: center; 
}



.listing_div h2 span{
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: #bdc3c7;
}




